<ul class="app-navigation nav nav-pills">
  <li class="active">
    <%= link_to household_bill_path(@current_household_id, @bill) do %>
      <%= @bill.provider %> Bill from <%= ordinalize_date(@bill.period_started_on) %> to <%= ordinalize_date(@bill.period_ended_on) %>
    <% end %>
  </li>
</ul>

<table class="table bill-details">
  <thead>
    <tr>
      <th colspan="2">Bill Details</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th class="header-label">Provider</th>
      <td>
        <strong><%= @bill.provider %></strong>
        <% unless @bill.description.empty? %>
          <p>
            <%= @bill.description %>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <th class="header-label">Amount</th>
      <td>
        <% if @bill.private %>
          <% if current_user.is_manager_of?(@current_household) %>
            <strong><%= integer_to_currency(@bill.amount) %></strong>
            &nbsp;
            <span class="label label-important">Private</span>
          <% else %>
            <span class="label">Hidden</span>
          <% end %>
        <% else %>
          <strong><%= integer_to_currency(@bill.amount) %></strong>
        <% end %>
      </td>
    </tr>

    <tr>
      <th class="header-label">Paid By</th>
      <td><%= @bill.paid_by_user?(current_user) ? "You" : "#{@bill.paid_by.user.name}" %></td>
    </tr>

    <tr>
      <th class="header-label">Billing Period</th>
      <td><%= ordinalize_date(@bill.period_started_on) %> to <%= ordinalize_date(@bill.period_ended_on) %></td>
    </tr>

    <% unless @bill.billed_on.nil? %>
    <tr>
      <th class="header-label">Bill Date</th>
      <td>
        <%= ordinalize_date(@bill.billed_on) %>
      </td>
    </tr>
    <% end %>


  </tbody>
</table>

<% unless @bill.bill_parts.empty? # Backwards compatibility, yo %>

  <table class="table bill-details">
    <thead>
      <tr>
        <th colspan="2">Who Owes What for This Bill</th>
      </tr>
    </thead>
    <tbody>

      <% @bill.bill_parts.each do |bill_part| %>
        <tr>
          <th class="header-label"><%= bill_part.owed_by.user.first_name %></th>
          <td><%= integer_to_currency(bill_part.amount) %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

<% end %>