<h2>My Households</h2>

<% if @households.nil? || @households.empty? %>
  <p>No households set up yet. <%= link_to "Create one now!", new_household_path %></p>
<% else %>
  <% @households.each do |h| %>
    <h3><%= h.name %></h3>
    <p>
      <% if h.active_members.empty? %>
        Nobody here right now.
      <% else %>
        <%= h.active_members.map{|m| m.user.name}.join(", ") %>
      <% end %>
    </p>
    <% if current_user.is_manager_of?(h) %>
      <p>
        <%= link_to "Edit Name", edit_household_path(h.id) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Edit Members", household_members_path(h.id) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <small><%= link_to "Delete #{h.name}", h, method: :delete, data: { confirm: "Are you sure? There is NO going back!" } %></small>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Create new household", new_household_path, :class => "btn btn-primary" %>